.text-shadow{
    text-shadow: 1.5px 2px 1px ;
    color: rgb(2, 17, 17);

    font-family: Arial, Helvetica, sans-serif;
}
.button{
    border: 2px solid #51b5b5;
    position: relative;
    z-index: 1;
    transition-duration: .5s;
}

.button:hover{
    color: white;
}

.button::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 4px;
    background-color: #51b5b5;
    z-index: -1;
    transition: width .5s;
}
button:hover::after{
    width: 100%;
    
    box-shadow: 0px 0px 20px 5px #51b5b5;
}